<%- include('./partials/header.ejs'); %>



  <main>
    <article>
      <table id="search-results-table">
        <thead>
          <tr>
            <th>Blog Author</th>
            <th>Blog Title</th>
            <th>Date Posted</th>
            <th>Settings</th>
          </tr>
        </thead>
        <tbody>
          <% if(posts.length> 0){ %>
            <% posts.forEach((post)=> { %>
              <tr id="tr_<%= post.id %>">
                <td>
                  <%= post.author %>
                </td>
                <td>
                  <%= post.title %>
                </td>
                <td>
                  <%= new Date(post.publishedAt).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                    day: 'numeric' }) %>
                </td>
                <td> <button class="archive-button" data-id="<%= post._id %>" onclick="deletePost('<%= post._id %>')" id="delete-button">Delete</button> </td>
              </tr>
              <% })} %>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <form action="/api/getSearchTable" id="search-bar" method="get">
                <fieldset>
                  <legend>Search for Blogs:</legend>
                  <input type="text" name="searchInput" id="search" placeholder="Enter title or author..">
                  <button type="submit" class="archive-button" form="search-bar" value="">Search</button>
                </fieldset>
              </form>
            </td>
          </tr>
        </tfoot>
      </table>
    </article>
  </main>

<script src="/js/post.js"></script>

  <%- include('./partials/footer.ejs'); %>