<%- include('./partials/header.ejs') %>

  <main>
    <section class="section">
      <div class="section-content container">
        <h1>Stay Curious.</h1>
        <p>
          Discover stories, thinking, and expertise <br />
          from writers on any topic.
        </p>
        <a href="login">Login</a>
      </div>
    </section>
    <article class="container">
      <h1>Posts</h1>

      <% if(posts) { %>

      <% posts.forEach((post, i) => { %>
      <a href="/<%= post._id %>" class="post">
        <section class="post-left">
          <div>
            <p class="post-left-blogger"> <%= post.author %> </p>
            <h2><%= post.title %></h2>
          </div>

          <p class="post-left-description">
            <%= post.subtitle.length > 50 ? post.subtitle.substring(0, 50) + '...' : post.subtitle %>
          </p>
          <div class="post-left-info">
            <p> <%= new Date(post.publishedAt).toLocaleDateString('en-US', {
                year: 'numeric', month: 'long', day: 'numeric'
              }) %> </p>
            <span class="dot"></span>
            <p>10 min read</p>
          </div>
        </section>
        <section class="post-right">
          <h2>P<%= i+1 %></h2>
        </section>
      </a>
        <% }) %>
        <% } %>
    </article>
  </main>

  <%- include('./partials/footer.ejs') %>